@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Ultra&display=swap');

body {
    max-width: 2000px;
    margin:auto;
    padding: auto;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
}

h1{
    display: inline;
    font-size: 4em;
    color: #f3fadc;
    font-family: 'Ultra', serif;
}

h2{
    margin-top: 120px;
    color: #385b4f;
    font-family: 'Shrikhand', cursive;
}

h3{
    margin-top: 5px;
    font-size: 1rem;
    color: #010101;
    font-style: italic;
}

header{ 
    max-width: 1200px;
    margin:auto;
    padding: 0px 15px 15px 15px;
    background-color: #830c4f;
    border-radius: 2px;
}

header i {
    height: 1px;
    width: 1px;
    opacity: 0;
}

header button{
    float: right;
    margin: 25px 0px 0px 15px;
    padding: 5px 35px;
    border-radius: 52px;
    background-color: #010101;
    color: #f3fadc;
    border: none;
    cursor: pointer;
}

header .User{
    border: 2px solid gray;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 0.5em;
    padding: 0px 0px 5px 0px;
    line-height: 20px;
}

header input[type=text]{
    float: right;
    width: 350px;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
}

header a {
    text-decoration: none;
}

.navbar a{
    margin: 15px 50px 0px 0px;
    padding: 5px 11px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #010101;
    background-color: #f3fadc;
}

.navbar a:hover{
    color: #f3fadc;
    background-color: #010101;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

main a {
    text-decoration: none;
    color: #f3fadc;
}

main a:hover {
    color: #010101;
}

.top .article1 {grid-area: article1;}
.top .article2 {grid-area: article2;}
.top .article3 {grid-area: article3;}
.top .article4 {grid-area: article4;}
.top .article5 {grid-area: article5;}

.top {
    max-width: 1200px;
    margin: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 15px;
    grid-template-areas: 
        "article2 article1 article3"
        "article4 article1 article5";
}

.top article {
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-size: 1.1em;
    padding: 2px;
    color: #f3fadc;
}

.top .article1 {background-image: url(CyberPunk.jpg);}
.top .article2 {background-image: url(Switch.jpg);}
.top .article3 {background-image: url(MarioOdyssey.jpg);}
.top .article4 {background-image: url(Witcher3.jpg);}
.top .article5 {background-image: url(Controller.jpg);}
    

.top article:hover{
    font-size: 1.5rem;
    transition: .5s;
    color: #010101;
}
.top .article1:hover {
    font-size: 1.8rem;
    background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(CyberPunk.jpg);}
.top .article2:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Switch.jpg);}
.top .article3:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(MarioOdyssey.jpg);}
.top .article4:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Witcher3.jpg);}
.top .article5:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Controller.jpg);}

.popular .article1 {grid-area: article1;}
.popular .article2 {grid-area: article2;}
.popular .article3 {grid-area: article3;}
.popular .article4 {grid-area: article4;}

.popular {
    max-width: 1200px;
    margin: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
    grid-template-areas: 
        "article1 article1 article2 article3"
        "article1 article1 article2 article4";
}

.popular article {
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-size: 1.1em;
    padding: 2px;
    color: #f3fadc;
}

.popular .article1 {background-image: url(XenoBladeChron3.jpg);}
.popular .article2 {background-image: url(Witcher3.jpg);}
.popular .article3 {background-image: url(Controller.jpg);}
.popular .article4 {background-image: url(Switch.jpg);} 

.popular article:hover{
    font-size: 1.5rem;
    transition: .5s;
    color: #010101;
}
.popular .article1:hover {
    font-size: 1.8rem;
    background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(XenoBladeChron3.jpg);}
.popular .article2:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Witcher3.jpg);}
.popular .article3:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Controller.jpg);}
.popular .article4:hover {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Switch.jpg);}

.videos-background{
    background-color: #385b4f;
    margin-top: 150px;
    border-radius: 5px;
    padding: 5px 1px 20px 1px;
}

.videos-background h2{
    color: #f3fadc;
    margin: 0px 0px 0px 1px;
    padding: 15px 0px 15px 25px;
}

.videos .video1 {grid-area: video1;}
.videos .video2 {grid-area: video2;}
.vidoes .video3 {grid-area: video3;}
.vidoes .video4 {grid-area: video4;}
.videos .video5 {grid-area: video5;}

.videos {
    max-width: 1200px;
    margin: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-gap: 15px;
    grid-template-areas: 
        "video2 video1 video3"
        "video4 video1 video5";
}

.videos iframe {
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    margin: auto;
    width: 85%;
}

.videos .video1 {
    height: 100%;
    width: 100%;
}

.reviews {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.reviews article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 15px;
    padding: 50px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    color: #f3fadc;
    cursor: pointer;
}

.reviews .article1 {background-image: url(MarioOdyssey.jpg);}
.reviews .article2 {background-image: url(Cuphead.jpg);}
.reviews .article3 {background-image: url(MarioOdyssey.jpg);}
.reviews .article4 {background-image: url(Cuphead.jpg);}

.reviews article:hover {
    transition: .5s;
    font-size: 1.5rem;
}
.reviews .article1:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg);}
.reviews .article2:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg);}
.reviews .article3:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg);}
.reviews .article4:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg);}

.reviews span {
    border: 2px solid #010101;
    box-shadow: 1px 2px 2px #010101;
    text-shadow: 1px 1px 1px #010101;
    border-radius: 50%;
    padding: 2px 8px;
    margin: 0px 0px 0px 20px;
    background-color: #f3fadc;
    color: #010101;
}

.gamingdeals-background{
    background-color: #385b4f;
    margin-top: 100px;
    border-radius: 5px;
    padding: 5px 1px 15px 1px;
}

.gamingdeals-background h2{
    color: #f3fadc;
    margin: 0px 0px 0px 1px;
    padding: 15px 0px 5px 25px;
}

.gamingdeals {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.gamingdeals article {
    background-color: #f3fadc;
    margin: 15px;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    color: #010101;
    cursor: pointer;
}

.tips-guides {
    max-width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.tips-guides article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 15px;
    padding: 50px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    color: rgba(250, 250, 220, 0);
    cursor: pointer;
}

.tips-guides .article1 {background-image: url(MarioOdyssey.jpg);}
.tips-guides .article2 {background-image: url(Cuphead.jpg);}
.tips-guides .article3 {background-image: url(MarioOdyssey.jpg);}
.tips-guides .article4 {background-image: url(Cuphead.jpg);}

.tips-guides article:hover {
    transition: .5s;
    font-size: 1.5rem;
    color: rgba(250, 250, 220, 1);
}

.tips-guides .article1:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg);}
.tips-guides .article2:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg);}
.tips-guides .article3:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg);}
.tips-guides .article4:hover {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg);}

.ourfavourites {
    max-width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.ourfavourites article {
    background-image: url(../images/Controller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 15px;
    padding: 50px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    color: rgba(250, 250, 220, 0);
    cursor: pointer;
}

.ourfavourites article:hover {
    transition: .5s;
    background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Controller.jpg);
    font-size: 1.5rem;
    color: rgba(250, 250, 220, 1);
}

footer{
    max-width: 2000px;
    margin: 100px auto auto auto;
    padding: 15px 150px;
    background-color: #f3fadc; 
}

footer h2{
    display: inline;
    font-size: 2rem;
    color: #010101;
    padding-right: 8px;
}

footer h3{
    margin-bottom: 2px;
    line-height: 1.5;
}

footer span{
    font-style: italic;
}

.footer-info {
    display: inline-block;
}

.footer-info ul{
    list-style-type: none;
    padding: 2px 15px 2px 5px;
    margin-top: 2px;
    line-height: 1.5;
}

.contact {
    display: inline-block;
    height: 55px;
    padding: 5px;
    margin-left: 500px;
}

.socials {
    margin: 2px;
}

.socials button {
    margin: 2px;
    padding: 5px 15px;
    border-radius: 52px;
    background-color: #010101;
    color: #f3fadc;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1180px){
    
    body {
    max-width: 1180px;
    margin:auto;
    padding: auto;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    }
    
    h1 {
        font-size: 3.1rem;
        display: inline-block;
        width: 75%;
        padding-left: 5px;
        margin: 2px 50px 2px 2px;
        
    }
    
    header {
        max-width: 1180px;
    }
    
    header i {
        height: 30px;
        width: 30px;
        font-size: 1.8rem;
        opacity: 100;
        padding-right: 15px;
        cursor: pointer;
    }
    
    header button {
        float: none;
        display: inline-block;
        padding: 5px 15px;
        margin: 5px 5px;
    }
    
    header .User{
        border-radius: 47px;
        height: 47px;
        width: 47px;
        padding: 2px 0px 5px 0px;
    }
    
    header input[type=text]{
        margin: 15px 0px 15px 0px;
        height: 25px;
    }
    
    header .navbar {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    main {
    max-width: 1180px;
    margin: auto;
    padding: 15px;
}
    
    .reviews .article1 {grid-area: article1;}
    .reviews .article2 {grid-area: article2;}
    .reviews .article3 {grid-area: article3;}
    .reviews .article4 {grid-area: article4;}
    
    
    .reviews {
        max-width: 1180px;
        margin: 2px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        grid-gap: 15px;
        grid-template-areas: 
            "article1 article2"
            "article3 article4";   
}
    
    .reviews .article1 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(MarioOdyssey.jpg)}
    .reviews .article2 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(Cuphead.jpg)}
    .reviews .article3 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(MarioOdyssey.jpg)}
    .reviews .article4 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(Cuphead.jpg)}
    
    .tips-guides {
        max-width: 1180px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 2px;
        min-height: 300px;
}
    
    .tips-guides article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 1;
        width: 100%;
        font-size: 1.2rem;
        color: rgba(250, 250, 220, 1);
        padding: 15px 5px;
}
    
    .tips-guides .article1 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg)}
    .tips-guides .article2 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg)}
    .tips-guides .article3 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg)}
    .tips-guides .article4 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg)}
    
    .ourfavourites {
        max-width: 1180px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 2px;
        min-height: 300px;
}
    
    .ourfavourites article {
        background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Controller.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 1;
        width: 100%;
        font-size: 1.2rem;
        color: rgba(250, 250, 220, 1);
        padding: 15px 5px;
}
    
    footer {
    max-width: 1180px;
    margin: 100px auto auto auto;
    padding: 15px 150px;
    background-color: #f3fadc; 
}
    
    .footer-info {
        padding-top: 20px;
    }
    
    footer h3 {
        float: none;
    }
    
    .contact {
        display: block;
        margin: 2px;
    }
    
}

@media screen and (min-width: 280px) and (max-width: 550px){
    
    body {
    max-width: 550px;
    margin:auto;
    padding: auto;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    }
    
    h1 {
        font-size: 2.8rem;
        display: inline-block;
        width: 80%;
        margin: 2px;
    }
    
    header {
        max-width: 550px;
    }
    
    header i {
        height: 25px;
        width: 25px;
        font-size: 1.3rem;
        opacity: 100;
        padding-right: 2px;
        cursor: pointer;
    }

    header button {
        float: none;
        display: inline-block;
        padding: 5px 15px;
        margin: 5px 5px;
    }
    
    header .User{
        border-radius: 35px;
        height: 35px;
        width: 35px;
    }
    
    header input[type=text]{
        margin: 15px 0px 15px 0px;
        height: 25px;
        width: 100%;
    }
    
    header .navbar {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    main {
    max-width: 550px;
    margin: auto;
    padding: 15px;
}
    
    main a {
        color: #010101;
    }

    .top {
        max-width: 550px;
        margin: 2px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px;
        grid-gap: 15px;
        grid-template-areas: 
            "article1 article1"
            "article2 article3"
            "article4 article5";
    }

    .top article {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        font-size: 1.3em;
        padding: 2px;
        color: #010101;
    }
    
    .top .article1 {
        align-items: flex-end;
        font-size: 1.5em;
        background-image: linear-gradient(to top, rgba(255, 220, 49, 0.87), rgba(215, 213, 115, 0.47)), url(CyberPunk.jpg);}
    .top .article2 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Switch.jpg);}
    .top .article3 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(MarioOdyssey.jpg);}
    .top .article4 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Witcher3.jpg);}
    .top .article5 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Controller.jpg);}
    
    .popular {
        max-width: 550px;
        margin: 2px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px;
        grid-gap: 20px;
        grid-template-areas: 
            "article1 article1"
            "article2 article3"
            "article2 article4";
    }

    .popular article {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        font-size: 1.3em;
        padding: 2px;
        color: #010101;
    }

    .popular .article1 {
        align-items: flex-end;
        font-size: 1.5em;
        background-image: linear-gradient(to top, rgba(255, 220, 49, 0.87), rgba(215, 213, 115, 0.47)), url(XenoBladeChron3.jpg);}
    .popular .article2 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Witcher3.jpg);}
    .popular .article3 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Controller.jpg);}
    .popular .article4 {background-image: linear-gradient(to top, rgba(255, 220, 49, 1), rgba(215, 213, 115, 0.77)), url(Switch.jpg);}
    
    

    .videos {
        max-width: 550px;
        margin: 2px;
        display: flex;
        flex-flow: column;
        text-align: center;
        align-items: center;
        
    }

    .videos iframe {
        border-radius: 5px;
        cursor: pointer;
        padding: 2px;
        margin: auto;
        width: 92%;
    }
    
    .videos .video1 {
        width: 92%;
    }
    
    
    .reviews {
        max-width: 550px;
        display: flex;
        flex-flow: column;
        min-height: 550px;
        justify-content: space-between;
}
    
    .reviews .article1 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(MarioOdyssey.jpg)}
    .reviews .article2 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(Cuphead.jpg)}
    .reviews .article3 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(MarioOdyssey.jpg)}
    .reviews .article4 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.25)), url(Cuphead.jpg)}
    
    .gamingdeals {
        max-width: 470px;
        display: flex;
        flex-flow: column;
        min-height: 500px;
        justify-content: space-between;
}
    
    .tips-guides {
        max-width: 550px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 2px;
        min-height: 700px;
}
    
    .tips-guides article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 1;
        width: 90%;
        height: 100%;
        font-size: 1.3rem;
        color: rgba(250, 250, 220, 1);
        padding: 15px 2px;
}
    
    .tips-guides .article1 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg)}
    .tips-guides .article2 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg)}
    .tips-guides .article3 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(MarioOdyssey.jpg)}
    .tips-guides .article4 {background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Cuphead.jpg)}


    .ourfavourites {
        max-width: 550px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 2px;
        min-height: 700px;
}
    
    .ourfavourites article {
        background-image: linear-gradient(to bottom, rgba(131, 12, 79, 1), rgba(104, 10, 25, 0.61)), url(Controller.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 1;
        width: 90%;
        height: 100%;
        font-size: 1.3rem;
        color: rgba(250, 250, 220, 1);
        padding: 15px 2px;
}
    
    footer {
        max-width: 550px;
        margin: 100px auto auto auto;
        padding: 15px 50px;
        background-color: #f3fadc;
        
}
    
}
